.redImageContainer {
    width:220px;
    height:270px;
    background-image: url("../img/red.jpg");
    float:left;
    position:relative;
    display:inline-block;
}
.greenImageContainer {
    width:220px;
    height:270px;
    background-image: url("../img/green.jpg");
    float:left;
    position:relative;
    display:table;
}

.caption {
    text-align: center;
    color: white;
    font: bold 34px/45px Ubuntu, Sans-Serif;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 190px;
    left: 0px;
    width:250px;
    display:table;
    margin: 0 auto;
}
body {
    background-color: black;
}

html,body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.error {
    width:250px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
